<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.cloud.mybatis.plus.mapper.UserInfoMapper">

    <update id="batchUpdate" parameterType="java.util.List">
        UPDATE user_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.name!=null">
                        when id = #{i.id} then #{i.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="age = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.age!=null">
                        when id = #{i.id} then #{i.age}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" separator="," item="i" open="(" close=")">
            #{i.id}
        </foreach>
    </update>

</mapper>
