<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.cloud.mybatis.plus.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.zw.cloud.mybatis.plus.entity.UserInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="TINYINT" property="age" />
        <result column="bir" jdbcType="TIMESTAMP" property="bir" />
        <result column="other" property="other" typeHandler="com.zw.cloud.mybatis.plus.db.typehandlers.JsonTypeHandler"/>
    </resultMap>
    <insert id="insertByMapper" parameterType="com.zw.cloud.mybatis.plus.entity.UserInfo">

        insert into user_info_0 (id, name, age, bir, other)
        values
            (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=TINYINT}, #{bir,jdbcType=TIMESTAMP}, #{other,typeHandler=com.zw.cloud.mybatis.plus.db.typehandlers.JsonTypeHandler})
    </insert>

    <insert id="batchInsertByMapper" parameterType="java.util.List">

        insert into user_info_0 (id, name, age, bir, other)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.age,jdbcType=TINYINT}, #{item.bir,jdbcType=TIMESTAMP}, #{item.other,typeHandler=com.zw.cloud.mybatis.plus.db.typehandlers.JsonTypeHandler})
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        UPDATE user_info_0
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.name!=null">
                        when id = #{i.id} then #{i.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="age = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.age!=null">
                        when id = #{i.id} then #{i.age}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" separator="," item="i" open="(" close=")">
            #{i.id}
        </foreach>
    </update>

    <select id="queryJsonData" resultMap="BaseResultMap">
        select * from user_info_0
        <where>
            <if test="userInfo.name != null">
                JSON_CONTAINS(other,JSON_OBJECT('name', #{userInfo.name}))
            </if>
        </where>
    </select>

    <select id="queryJsonDataLike" resultMap="BaseResultMap">
        select * from user_info_0
        <where>
            <if test="userInfo.name != null">
                json_extract(other,"$[*].name") like CONCAT('%',#{userInfo.name},'%')
            </if>
        </where>
    </select>

    <insert id="onDuplicateUpdate" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        insert into user_info_0 (name, age, bir, other,update_time) values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.age,jdbcType=TINYINT}, #{item.bir,jdbcType=TIMESTAMP},
             #{item.other,typeHandler=com.zw.cloud.mybatis.plus.db.typehandlers.JsonTypeHandler},#{item.updateTime})
        </foreach>
        on duplicate key update age=values(age), bir=values(bir),other=values(other),update_time = values(update_time)
    </insert>
</mapper>
