<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CP</title>
    <meta charset="utf-8"/>
</head>
<body>
<h3 align="center">TC 结果</h3>

<table>
<!--表单数据绑定-->
<form action="#" th:action="@{/cp/query}" th:object="${tc}" method="post">

    <tr>
        <td>前一:<input type="text" th:field="*{one}"></td>
        <td>前二:<input type="text" th:field="*{two}"></td>
        <td>前三:<input type="text" th:field="*{three}"></td>
        <td>前四:<input type="text" th:field="*{four}"></td>
        <td>前五:<input type="text" th:field="*{five}"></td>
        <td>后一:<input type="text" th:field="*{six}"></td>
        <td>后二:<input type="text" th:field="*{seven}"></td>
    </tr>
    <tr>
        <td>页数:<input type="text" th:field="*{pageNo}"></td>
        <td>数量:<input type="text" th:field="*{pageSize}"></td>
    </tr>
    <tr>
        <td></td>
        <td>  <input style="background:red;" type="reset" value="清空" /></td>
        <td></td>
        <td> <input style="color:red;" type="submit" value="提交" /> </td>
    </tr>

</form>
</table>
<h3 align="center">HOT 结果</h3>
<table>
    <!--表单数据绑定-->
    <form action="#" th:action="@{/cp/queryHot}" th:object="${tc}" method="post">

        <tr>
            <td>起始ID:<input type="text" th:field="*{one}"></td>
            <td>前后排序:<input type="text" th:field="*{two}"></td>
        </tr>
        <tr>
            <td></td>
            <td>  <input style="background:red;" type="reset" value="清空" /></td>
            <td></td>
            <td> <input style="color:red;" type="submit" value="提交" /> </td>
        </tr>

    </form>
</table>

<table border="0">
    <thead>
    <tr>
        <td>id</td>
        <td>one</td>
        <td>two</td>
        <td>three</td>
        <td>four</td>
        <td>five</td>
        <td>six</td>
        <td>seven</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cpModel.cpList.size()} eq 0">
        <td colspan="3">信息为空!</td>
    </tr>
    <tr th:each="tc : ${cpModel.cpList}">
        <td style="width: 80px " th:text="${tc.id}"></td>
        <td style="width: 80px " th:text="${tc.one}"></td>
        <td style="width: 80px " th:text="${tc.two}"></td>
        <td style="width: 80px " th:text="${tc.three}"></td>
        <td style="width: 80px " th:text="${tc.four}"></td>
        <td style="width: 80px " th:text="${tc.five}"></td>
        <td  style="color:blueviolet; width: 50px " th:text="${tc.six}"></td>
        <td  style="color:blueviolet;  width: 50px " th:text="${tc.seven}"></td>
        <td></td>
        <td  style="color:blueviolet; width: 50px " th:text="${tc.code}"></td>
        <td  style="color:blueviolet;  width: 50px " th:text="${tc.count}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>